:hover,
:visited,
:active,
:focus {
  color: black;
}

.nav-box {
  width: 100%;
}

.nav-bar {
  height: 150px;
  width: 70%;
  margin: 0 0 70px 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.2rem;
}
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}
