@import "./reset.css";
@import "./basic.css";
@import "./nav.css";

.skill_box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 200px 0 50px 0;
}
